
.top{
	position: relative;
	text-align: center;
	color: #fff;
	background-color: #176fd0;
}
.top_text{
	font-size: 14px;
	line-height: 40px;
}
.returnArrow{
	position: absolute;
	width: 1rem;
	height: 1rem;
	top:  14px;
}
.returnArrow:after {
  position: absolute;
  transform: rotate(-135deg);
  height: 7px;
  width: 7px;
  border-width: 2px 2px 0 0;
  border-color: #555;
  border-style: solid;
  outline: 1px solid transparent;
  content: " ";
  pointer-events: none;
}

/*行情修改样式*/
.hx-content .time-hx{
	left: 10px;
}
.list-hx li span.txt-hx{
	margin-left: 100px;
}
